/* @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap'); */

:root {
	/* #223344 #090a0f #FFF */
  --font: sans-serif, system-ui;
	--delay: .3s;
}

* {
	font-family: var(--font);
	color: var(--accentColor);
}

body {

}

main {
	width: min(120ch, 100% - 4rem);
	margin-inline: auto;
}

footer, header {
	padding: 20px;
	font-size: 0.8rem;
}

h1 {

}

h2 {

}

p {

}

code {
	font-family: 'Courier New', Courier, monospace;
}
