<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-eqiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://avatars.githubusercontent.com/u/68739688" type="image/x-icon"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="/style.css">
	<title>winlogon | Websites</title>
</head>
<body>
	<!-- background animation -->
	<section class="animated-background">
		<div id="stars1"></div>
		<div id="stars2"></div>
		<div id="stars3"></div>
	</section>
	<!-- end of animation -->
	<main class="pages main">
		<h1>My websites</h1>
		<hr>
		<p><a href="https://walker84837.github.io/wifi-qrcode">wifi-qrcode</a>: A Wi-Fi QR Code generator</p>
		<p><a href="https://walker84837.github.io/color-picker/">color-picker</a>: A simple color picker</p>
		</main>
		<script src="/stars.js" is:inline></script>
	</body>
</html>
